*{
    margin: 0;
}

body{
    position: relative;
}

/*ホームに戻るボタン*/
.back-home{
    display: inline-block;
    margin-left: 20px;
    opacity: 0.5;
    position: fixed;
    top: 10;
    left: 10;
    z-index: 10;
    margin-top: 130px;
}

.back-home a{
    color: #fff;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}

.back-home i{
    margin-right: 4px;
}

.main img{
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.header{
    width: 100%;
}

.header-top{
    margin: 10px 20px;
    width: 100%;
}

.nav li{
    list-style-type: none;
    flex: auto;
}

.nav a{
    text-decoration: none;
    color:#fff;
}

.nav a:hover{
    color: #ffe436;
    transition: all 1s;
}

.nav ul{
    display: flex;
    
}

.header-bottom{
    background-color: #333;
    font-size: 16px;
    margin: 20px 0 0 0 ;
    padding: 10px 0;
}

.articles{
    display: flex;
}

.article{
    margin: 10px;
    flex: auto;
    
}

.time{
    display: flex;
    font-size: 14px;
    margin: 10px;
}

.time i{
    margin-right: 10px;
}

.time p{
    margin-right: 10px;
    font-size: 14px;
}

.readMore a{
    color: #333;
}

.readMore a:hover{
    opacity: 0.6;
}

.readMore{
    text-align: center;
    margin: 10px 0;
}

.main{
    margin: 0 20px;
    position: relative;
    top: 120px;
}

.top{
    display: flex;
    margin-top: 60px;
}

.categorys{
    width: 70%;
    margin-right: 10px;
    flex: auto;
}

.main-side{
    width: 30%;
    margin-left: 10px;
    flex: auto;
}

.category{
    margin-bottom: 60px;
}

.category h2{
    margin-bottom: 10px;
    text-align: center;
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile{
    margin-bottom: 60px;
}

.main-side{
    text-align: center;
}

.ranking{
    margin-bottom: 60px;
}

.ranking p{
    margin-bottom: 20px;
}

.date p{
    border-bottom: solid 1px #333;
    padding: 20px;
    font-size: 18px;
    text-align: left;
}

.date{
    border-top: solid 1px #333;
}

footer{
    background-color: #f3f3f3;
    padding-left: 20px;
    position: relative;
    top: 150px;
}

.footer{
    display: flex;
    width: 100%;
}

.footer-wid{
    flex: auto;
    width: 33%;
}

.about{
    margin-right: 20px;
}

.about a{
    text-decoration: none;
    color: #333;
    padding-bottom: 20px;;
}

.about a:hover{
    text-decoration: underline;
}

.about li{
    list-style-type: none;
}

.about ul{
    padding: 0;
}

.about h2{
    margin-bottom: 10px;
}

.about p{
    margin-bottom: 10px;
}

.footer h2{
    font-size: 18px;
}

.footer p{
    font-size: 14px;
}

.menu h2{
    margin-bottom: 10px;
}

.menu p{
    border-bottom: solid 1px #333;
    padding: 20px;
    font-size: 16px;
}

.menu-list{
    border-top: solid 1px #333;
    margin-right:20px;
}

.twitter h2{
    margin-bottom: 10px;
}

.footer-bottom{
    text-align: center;
    margin-top: 40px;
}

@media(max-width:670px){
    .top{
        flex-direction: column;
    }

    .article a{
        font-size: 14px;
    }

    .article{
        margin: 2px;
    }
    
    .categorys{
        width: 100%;
        margin: 0;
    }

    .main-side{
        width: 100%;
        margin: 0;
    }

    .footer{
        flex-direction: column;
    }

    

    footer{
        padding: 20px;
    }

    .phone{
        width: 100%;
        margin-bottom: 20px;
    }
}