@charset "utf-8";

/*基本設定*/
*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

body{
    display: grid;
    grid-template-columns: 20px 150px  1fr 20px;
    grid-template-rows: [head] auto
                        [mission] auto
                        [products] auto
                        [challenge] auto
                        [news] auto
                        [foot] auto;
    row-gap: 100px;
    font-family: sans-serif;
}

body >*{
    grid-column: 2/-2;
}

/*共通設定*/
a, p, h1{
    color: #b0b0b0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h2{
    color: #000;
}

a:hover{
    color: #edba00;
    transition: all 0.6s ease 0s;
}



/*header*/
header{
    grid-row: head;
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: [nav] auto
                        [h1] auto;
    grid-template-columns: 1fr 1fr;
}

header p{
    float: left;
    grid-row: nav;
    grid-column: 1/2;
    margin: 50px;
    font-size: 40px;
}



header nav{
    float: right;
    grid-row: nav;
    grid-column: 2/3;
}

header ul{
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    background-color: black;
    padding: 20px;
    
}

.headerimg{
    z-index: -1;
    grid-row: nav/ span 2;
    grid-column: 1/-1;
}

.h1p{
    grid-column: 1/-1;
    grid-row: h1;
}

.h1p h1{
    font-size: 50px;
}

.h1p p{
    font-size: 30px;
}

/*ホームに戻るボタン*/
.back-home{
    display: inline-block;
    margin-left: 20px;
    opacity: 0.5;
    position: fixed;
    top: 10;
    left: 10;
    margin-top: 150px;
}

.back-home a{
    color: #fff;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
}

.back-home i{
    margin-right: 4px;
}

/*mission*/
.mission{
    grid-row: mission;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [top] auto
                        [under] auto;
    column-gap: 40px;
}




.mission h2{
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 50px;
    grid-row: top;
    grid-column: 1/2;
}


.mission figure{
    grid-row: top/ spna 2;
    grid-column: 2/3;
}


/*products*/
.products{
    grid-row: products;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [top] auto
                        [under] auto;
    column-gap: 40px;
}

.products h2{
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 50px;
    grid-row: top;
    grid-column: 1/2;
}

.products figure{
    grid-row: top/ span 2;
    grid-column: 2/3;
}

.products h3{
    grid-row: under;
    grid-column: 1/2;
    
}

.products p{
    grid-row: under;
    grid-column: 1/2;
    margin-top: 30px;
}

/*challenge*/
.challenge{
    grid-row: challenge;
    grid-column: 3/4;
}

.challenge h2{
    font-size: 50px;
    text-decoration: underline;
    color: #000;
}

.challenge h3{
    color: #000;
    padding-top: 50px;
}

/*news*/
.news{
    grid-row: news;
    grid-column: 3/4;
}

.news h2{
    font-size: 50px;
    text-decoration: underline;
}

.news dl{
    color: #000;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
    border-top: solid 1px #000;
}


.news dt, .news dd{
    border-bottom: solid 1px #000;
    padding: 20px;
}

/*footer*/
footer{
    grid-row: foot;
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [top] auto
                        [under] auto
                        [bottom] auto;
    color: #eee;
    padding-top: 50px;
}

footer p{
    grid-row: top;
    padding-bottom: 30px;
}

footer ul{
    grid-row: top;
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 30px;
}

.info{
    grid-row: under;
   grid-column: 1/-1;
    display: grid;
    padding: 30px 0;
    border-top: solid 1px #eee;
}

.left{
    grid-column: 1/2;
}

.right{
    grid-column: 2/3;
}

.bottom{
    grid-row: bottom;
    padding: 30px 0;
    border-top: solid 1px #eee;
    grid-column: 1/-1;
}


/*フッターのバー*/
body::after{
    content: "";
    background-color: #000;
    z-index: -1;
    grid-column: 1/-1;
    grid-row: foot;
}

/*aside*/
aside{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-row: mission;
    grid-column: 2/3;
}

aside li{
    padding-top: 20px;
}

/*スマホ版の設定*/
@media(max-width: 767px){


/*スマホ版：header*/
header nav{
    grid-column: 1/-1;
    grid-row: head/ span 2;
    font-size: 14px;
    align-self: flex-end;
    margin-top: -10px;
}

.h1p h1{
    font-size: 30px;
    
}

.h1p p{
    margin: 0;
    font-size: 25px;
}

/*mission*/
.mission{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: [h2] auto
                        [figure] auto
                        [h3] auto
                        [p] auto;
    row-gap: 20px;
}

.mission figure{
    grid-column: 1/-1;
    grid-row: figure;
}

.mission h2{
    grid-row: h2;
}

.products{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: [h2] auto
                        [figure] auto
                        [h3] auto
                        [p] auto;
    row-gap: 20px;
}

.products h2{
    grid-row: h2;
}

.products figure{
    grid-row: figure;
    grid-column: 1/-1;
}

.products h3{
    grid-row: h3;
}

.products p{
    grid-row: p;
    margin-top: 0;
}

/*news*/
.news dt{
    width: 70px;
}

/*footer*/
footer ul{
    grid-column: 1/-1;
}

/*aside*/
aside{
    font-size: 20px;
}

}